<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUnfzAoyI9aYu5aDeW_qvgdna3ojC7Ilw</string>
	<key>GCM_SENDER_ID</key>
	<string>51502607174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yorsho.mobile</string>
	<key>PROJECT_ID</key>
	<string>yorsho-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>yorsho-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51502607174:ios:21a58b8f9e3cecacba5347</string>
</dict>
</plist>